*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.50%;
  box-sizing: border-box; }

body {
  background-color: #F9F9F9; }

.container {
  display: grid;
  position: relative;
  overflow-x: hidden;
  grid-template-rows: min-content 90vh 80vh max-content repeat(5, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [content-start] minmax(min-content, 60rem) [mid-content-start] minmax(min-content, 60rem) [content-end navigation-start] minmax(2rem, 1fr) [full-end]; }
  @media only screen and (max-width: 45.625em) {
    .container {
      grid-template-rows: min-content 90vh 70vh repeat(5, min-content); } }

.footer {
  grid-column: full-start / full-end;
  background-color: #F2994A;
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr; }
  .footer .social-account {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6rem);
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .footer .social-account {
        height: 2rem;
        width: 2rem;
        width: 50%; } }
    .footer .social-account .social-icon {
      height: 5rem;
      width: 5rem;
      -webkit-fill: #fff;
      fill: #fff;
      transition: all .2s; }
      @media only screen and (max-width: 58.25em) {
        .footer .social-account .social-icon {
          height: 3rem;
          width: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .footer .social-account .social-icon {
          height: 2rem;
          width: 2rem; } }
      .footer .social-account .social-icon:not(:last-child) {
        margin-right: 0; }
      .footer .social-account .social-icon:hover {
        transform: scale(1.2) translateY(-5px); }
  .footer .copyright {
    text-align: center;
    color: #fff; }
    .footer .copyright h3 {
      font-weight: 700;
      margin-bottom: .8; }
    .footer .copyright p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem; }
      @media only screen and (max-width: 58.25em) {
        .footer .copyright p {
          font-size: 1.2rem; } }

.footer-line {
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  width: 50%;
  margin-bottom: 2rem; }

.gallery {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 8vw);
  grid-gap: 1rem;
  padding: 1rem;
  margin: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(24, 8vw);
      margin: 5rem 0;
      grid-gap: .8rem;
      padding: .8rem; } }
  .gallery__item--0 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--0 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 5; } }
    .gallery__item--0 span {
      font-size: 3rem; }
  .gallery__item--filler1 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    background-color: #F2994A;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--filler1 {
        display: none; } }
  .gallery__item--filler2 {
    grid-column: 7 / span 2;
    grid-row: 5 / span 2;
    background-color: #F1AD70;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--filler2 {
        display: none; } }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--1 {
        grid-row: 3 / span 3;
        grid-column: 1 / span 2; } }
  .gallery__item--2 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--2 {
        grid-row: 3 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--3 {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--3 {
        grid-row: 6 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--4 {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--4 {
        grid-row: 6 / span 3;
        grid-column: 1 / span 2; } }
  .gallery__item--5 {
    grid-row: 3 / span 2;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--5 {
        grid-row: 9 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--6 {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--6 {
        grid-row: 9 / span 3;
        grid-column: 1 / span 2; } }
  .gallery__item--7 {
    grid-row: 5 / span 2;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--7 {
        grid-row: 12 / span 3;
        grid-column: 1 / span 2; } }
  .gallery__item--8 {
    grid-row: 5 / span 2;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--8 {
        grid-row: 12 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--9 {
    grid-row: 7 / span 4;
    grid-column: 1 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--9 {
        grid-row: 15 / span 4;
        grid-column: 1 / -1; } }
  .gallery__item--10 {
    grid-row: 7 / span 2;
    grid-column: 4 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--10 {
        grid-row: 19 / span 3;
        grid-column: 1 / span 2; } }
  .gallery__item--11 {
    grid-row: 9 / span 2;
    grid-column: 4 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--11 {
        grid-row: 19 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--12 {
    grid-row: 7 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--12 {
        grid-row: 22 / span 3;
        grid-column: 3 / span 2; } }
  .gallery__item--13 {
    grid-row: 9 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery__item--13 {
        grid-row: 22 / span 3;
        grid-column: 1 / span 2; } }
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-position: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }

.gallery-2 {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 8vw);
  grid-gap: 1rem;
  padding: 1rem;
  margin: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .gallery-2 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(55, 8vw);
      margin: 5rem 0;
      grid-gap: .8rem;
      padding: .8rem; } }
  .gallery-2__item--0 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--0 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 5; } }
    .gallery-2__item--0 span {
      font-size: 3rem; }
  .gallery-2__item--filler1 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    background-color: #F2994A;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--filler1 {
        display: none; } }
  .gallery-2__item--filler2 {
    grid-column: 7 / span 2;
    grid-row: 5 / span 2;
    background-color: #F1AD70;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--filler2 {
        display: none; } }
  .gallery-2__item--1 {
    grid-row: 3 / span 5;
    grid-column: 1 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--1 {
        grid-row: 3 / span 9;
        grid-column: 1 / span 5; } }
  .gallery-2__item--2 {
    grid-row: 3 / span 5;
    grid-column: 5 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--2 {
        grid-row: 12 / span 9;
        grid-column: 1 / span 5; } }
  .gallery-2__item--3 {
    grid-row: 8 / span 3;
    grid-column: 1 / span 5; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--3 {
        grid-row: 42 / span 5;
        grid-column: 1 / span 5; } }
  .gallery-2__item--4 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--4 {
        grid-row: 21 / span 3;
        grid-column: 1 / span 2; } }
  .gallery-2__item--5 {
    grid-row: 11 / span 2;
    grid-column: 1 / span 5; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--5 {
        grid-row: 47 / span 5;
        grid-column: 1 / span 5; } }
  .gallery-2__item--6 {
    grid-row: 13 / span 2;
    grid-column: 2 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--6 {
        grid-row: 52 / span 4;
        grid-column: 1 / span 2; } }
  .gallery-2__item--7 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--7 {
        grid-row: 21 / span 3;
        grid-column: 3 / span 2; } }
  .gallery-2__item--8 {
    grid-row: 13 / span 2;
    grid-column: 4 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--8 {
        grid-row: 52 / span 4;
        grid-column: 3 / span 2; } }
  .gallery-2__item--9 {
    grid-row: 8 / span 7;
    grid-column: 6 / span 3; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--9 {
        grid-row: 24 / span 18;
        grid-column: 1 / span 5; } }
  .gallery-2__item--filler1 {
    grid-column: 1 / 2;
    grid-row: 13 / span 2;
    background-color: #F2994A;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery-2__item--filler1 {
        display: none; } }
  .gallery-2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-position-x: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }

.gallery-3 {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 8vw);
  grid-gap: 1rem;
  padding: 1rem;
  margin: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .gallery-3 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(31, 8vw);
      margin: 5rem 0;
      grid-gap: .8rem;
      padding: .8rem; } }
  .gallery-3__item--0 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--0 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 5; } }
    .gallery-3__item--0 span {
      font-size: 3rem; }
  .gallery-3__item--filler1 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    background-color: #F2994A;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--filler1 {
        display: none; } }
  .gallery-3__item--filler2 {
    grid-column: 7 / span 2;
    grid-row: 5 / span 2;
    background-color: #F1AD70;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--filler2 {
        display: none; } }
  .gallery-3__item--1 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--1 {
        grid-row: 3 / span 4;
        grid-column: 1 / span 2; } }
  .gallery-3__item--2 {
    grid-row: 3 / span 3;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--2 {
        grid-row: 3 / span 4;
        grid-column: 3 / span 2; } }
  .gallery-3__item--3 {
    grid-row: 6 / span 4;
    grid-column: 1 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--3 {
        grid-row: 7 / span 6;
        grid-column: 1 / span 5; } }
  .gallery-3__item--4 {
    grid-row: 3 / span 3;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--4 {
        grid-row: 13 / span 5;
        grid-column: 1 / span 2; } }
  .gallery-3__item--5 {
    grid-row: 8 / span 2;
    grid-column: 5 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--5 {
        grid-row: 13 / span 5;
        grid-column: 3 / span 2; } }
  .gallery-3__item--6 {
    grid-row: 6 / span 2;
    grid-column: 5 / span 4; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--6 {
        grid-row: 18/ span 6;
        grid-column: 1 / span 5; } }
  .gallery-3__item--7 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--7 {
        grid-row: 24/ span 4;
        grid-column: 1 / span 5; } }
  .gallery-3__item--8 {
    grid-row: 3 / span 3;
    grid-column: 7 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--8 {
        grid-row: 28/ span 4;
        grid-column: 1 / span 2; } }
  .gallery-3__item--9 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2; }
    @media only screen and (max-width: 37.5em) {
      .gallery-3__item--9 {
        grid-row: 28/ span 4;
        grid-column: 3 / span 2; } }
  .gallery-3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-position-x: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }

.gallery-bg {
  display: grid;
  align-items: flex-end;
  justify-content: start;
  padding: 2.5rem;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #F9F9F9;
  background-image: url(../img/img-bg.png);
  background-size: cover; }
  @media only screen and (max-width: 58.25em) {
    .gallery-bg {
      padding: 1.5rem;
      font-size: 3.5rem; } }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 10;
  margin: 2rem 2rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center; }
  @media only screen and (max-width: 45.625em) {
    .header {
      grid-template-columns: min-content 1fr; } }
  .header .nav-list {
    justify-self: end;
    font-size: 1.7rem;
    text-transform: uppercase;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5rem; }
    @media only screen and (max-width: 68.75em) {
      .header .nav-list {
        grid-auto-flow: row;
        grid-gap: 2rem; } }
    .header .nav-list .nav-item {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: #707070;
      transition: all .2s; }
      @media only screen and (max-width: 45.625em) {
        .header .nav-list .nav-item {
          color: #fff; } }
      .header .nav-list .nav-item:hover {
        color: #F2994A;
        transform: scale(1.1); }
        @media only screen and (max-width: 37.5em) {
          .header .nav-list .nav-item:hover {
            color: #fff;
            transform: scale(1); } }

.introduction {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  position: relative; }
  .introduction .liquid {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: all 1s;
    animation: showUp 1.5s ease-in; }

@keyframes showUp {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
  .introduction .introduction-name {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    z-index: 20;
    display: grid;
    justify-content: start;
    align-content: flex-end;
    font-family: "Raleway", sans-serif;
    line-height: .9;
    margin-left: 10rem;
    padding-bottom: 5rem;
    color: #4D4D4D; }
    @media only screen and (max-width: 45.625em) {
      .introduction .introduction-name {
        align-content: center;
        grid-column: 1 / 4;
        margin-left: 3rem; } }
    .introduction .introduction-name .introduction-title {
      font-size: 8rem; }
      @media only screen and (max-width: 58.25em) {
        .introduction .introduction-name .introduction-title {
          color: #fff; } }
      .introduction .introduction-name .introduction-title .hi {
        font-size: 15rem; }

.short-introduction {
  background-color: #fff;
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  padding: 3rem 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
  .short-introduction-container {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #4D4D4D;
    grid-row: 2 / 4;
    font-size: 3.5rem;
    z-index: 50;
    align-self: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .short-introduction-container {
        font-size: 2.7rem; } }
  .short-introduction-title span {
    color: #F2994A;
    background-color: rgba(255, 255, 255, 0.5); }
  .short-introduction-text {
    color: #707070;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .short-introduction-text {
        font-size: 1.7rem; } }

.resume {
  grid-column: content-start / content-end;
  padding: 5rem 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 45.625em) {
    .resume {
      grid-template-columns: min-content minmax(max-content min-content); } }
  @media only screen and (max-width: 37.5em) {
    .resume {
      grid-template-rows: repeat(2, min-content); } }
  .resume-image {
    display: grid;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .resume-image {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        margin-bottom: 5rem; } }
    .resume-image-1 {
      height: 60rem;
      border: 1px solid rgba(112, 112, 112, 0.2);
      box-shadow: 3rem 3rem rgba(77, 77, 77, 0.5); }
      @media only screen and (max-width: 45.625em) {
        .resume-image-1 {
          height: 40rem; } }
  .resume-detail {
    display: grid;
    align-content: center;
    color: #F2994A;
    padding: 0 5rem; }
    @media only screen and (max-width: 37.5em) {
      .resume-detail {
        justify-items: center;
        grid-row: 2 / 3;
        grid-column: 1 / -1; } }
  .resume .button-container {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
    align-content: flex-start;
    justify-content: start; }
    @media only screen and (max-width: 45.625em) {
      .resume .button-container {
        grid-auto-flow: row; } }

.skills {
  grid-column: full-start / full-end;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) min-content 1fr minmax(2rem, 5rem);
  grid-template-rows: min-content min-content;
  padding: 15rem 0;
  align-content: center;
  grid-row-gap: 10rem; }
  @media only screen and (max-width: 58.25em) {
    .skills {
      padding: 7rem 0;
      grid-template-columns: minmax(2rem, 10rem) 1fr minmax(2rem, 10rem);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 3rem; } }
  @media only screen and (max-width: 30em) {
    .skills {
      grid-template-columns: minmax(1rem, 3rem) 1fr minmax(1rem, 3rem);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 3rem; } }
  .skills-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;
    grid-gap: 2rem;
    margin: 0 7rem; }
    @media only screen and (max-width: 58.25em) {
      .skills-image {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-bottom: 5rem;
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 30em) {
      .skills-image {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 3rem;
        justify-items: start; } }
    .skills-image .skills-icon {
      padding: 2rem;
      height: 10rem;
      width: 10rem;
      -webkit-fill: #fff;
      fill: #fff;
      box-shadow: 0 2rem 3rem rgba(77, 77, 77, 0.2);
      transition: all .2s; }
      @media only screen and (max-width: 58.25em) {
        .skills-image .skills-icon {
          padding: 1rem;
          height: 6rem;
          width: 6rem;
          box-shadow: 0 2rem 3rem rgba(77, 77, 77, 0.2); } }
      .skills-image .skills-icon:hover {
        transform: scale(1.2); }
  .skills-icon-1 {
    background-color: #E96228; }
  .skills-icon-2 {
    background-color: #2862E9; }
  .skills-icon-3 {
    background-color: #f7f7f7; }
  .skills-icon-4 {
    background-color: #EBC525; }
  .skills-detail {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center; }
    @media only screen and (max-width: 58.25em) {
      .skills-detail {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
    .skills-detail-title {
      color: #F2994A;
      font-family: "Montserrat", sans-serif;
      font-size: 5rem;
      line-height: 1; }
      @media only screen and (max-width: 58.25em) {
        .skills-detail-title {
          font-size: 3.5rem; } }
    .skills-detail-text {
      font-family: "Montserrat", sans-serif;
      color: #4D4D4D;
      font-size: 1.5rem; }
      @media only screen and (max-width: 58.25em) {
        .skills-detail-text {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 30em) {
        .skills-detail-text {
          font-size: 1rem;
          line-height: 1.8; } }
      .skills-detail-text:not(:last-child) {
        margin-top: 1rem;
        margin-bottom: 1.3rem; }
  .skills-image-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;
    grid-gap: 2rem;
    margin: 0 7rem; }
    @media only screen and (max-width: 58.25em) {
      .skills-image-2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 30em) {
      .skills-image-2 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 3rem;
        justify-items: start; } }
    .skills-image-2 .skills-icon {
      padding: 2rem;
      height: 10rem;
      width: 10rem;
      -webkit-fill: #fff;
      fill: #fff;
      background-color: #f7f7f7;
      box-shadow: 0 2rem 3rem rgba(77, 77, 77, 0.2);
      transition: all .2s; }
      @media only screen and (max-width: 58.25em) {
        .skills-image-2 .skills-icon {
          padding: 1rem;
          height: 6rem;
          width: 6rem;
          box-shadow: 0 2rem 3rem rgba(77, 77, 77, 0.2); } }
      .skills-image-2 .skills-icon:hover {
        transform: scale(1.2); }
    .skills-image-2:hover .skills-image-2-icon:not(:hover) {
      transform: scale(0.9); }
  .skills-detail-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center; }
    @media only screen and (max-width: 58.25em) {
      .skills-detail-2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4; } }
  .skills .highlight {
    font-size: 1.7rem;
    color: #F2994A;
    font-weight: 700; }
    @media only screen and (max-width: 30em) {
      .skills .highlight {
        font-size: 1.3rem; } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }

.btn {
  padding: 1.3rem 2.8rem;
  background-color: #F2994A;
  color: #fff;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
  .btn, .btn:active, .btn:visited {
    border: 0;
    outline: none; }
  .btn:hover {
    background-color: #F1892E; }

.btn-white {
  background-color: #fff;
  color: #F2994A; }
  .btn-white, .btn-white:active, .btn-white:visited {
    border: 0;
    outline: none; }
  .btn-white:hover {
    background-color: #F1892E;
    color: #fff; }
